<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find cowa_robot_whole_body)/urdf/cowa_robot_whole_body.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find cowa_robot_whole_body)/urdf.rviz" />
</launch>